<% content_for :title, "Goals" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% if user_signed_in? %>
    <%= current_user.name %>
    <div class="mt-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium">
      <%= link_to 'Log Out', logout_path, class: 'nav-link px-2', data: {turbo_method: :delete} %>
    </div>
  <% else %>
    <div class="mt-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium">
      <%= link_to 'Sign Up', new_user_path, class: 'nav-link px-2' %>
    </div>

    <div class="mt-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium">
      <%= link_to 'Log In', login_path, class: 'nav-link px-2' %>
    </div>
  <% end %>

  <div class="">
    <h1 class="font-bold text-4xl">Goals</h1>
    <%= render "form", goal: Goal.new %>
  </div>

  <ul  id="goals" class="min-w-full">
    <%= render @goals %>
  </ul>
</div>
