<% content_for :title, "Goals" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

    <%= current_user.name %>

    <%= link_to "Edit this user", edit_user_path(@user), class: "mt-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>

    <div class="mt-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium">
      <%= link_to 'Log Out', logout_path, class: 'nav-link px-2', data: {turbo_method: :delete} %>
    </div>

  <div class="">
    <h1 class="font-bold text-4xl">Goals</h1>
    <%= render "form", goal: Goal.new %>
  </div>

  <ul  id="goals" class="min-w-full">
    <%= render @goals %>
  </ul>
</div>
